@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Play&family=Yuji+Hentaigana+Akebono&display=swap');
body{
     font-family: 'Play', sans-serif;
     background-color: rgb(22, 18, 18);
     color: white;
     
}
.r1{
    height: 456px;
    width: 100%;
    
    background-image: url(./images/44_FEAT_Coffee_JoMandoCruz_Web.jpg);
    background-size: cover;
    
}
.c21{
    height: 245px;
    width: 678px;
    color: white;
    margin-top: 38px;
    margin-left: 550px;
    padding-left: 70px;
    font-family: 'Courgette', cursive;
}
.c22{
    height: 10px;
    width: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    
}
.co{
    height: 70px;
    width: 100%;
    color: white;
   
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgba(19, 8, 8, 0.678);
    margin-top: -75px;

    

}
.c1{
    color: white;
    font-family: 'Yuji Hentaigana Akebono', cursive;
position: sticky;
top: 0px;
    
}
.c2{
    height: 47px;
    width: 482px;
    margin-left: 590px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    position: sticky;
    top: 0px;
}
.c9{
    width: 10px;
    height: 10px;
    padding-top: 20px;
}
.c23{
    width: 100%;
    height: 480px;
    
    
}
.c24{
    height: 241px;
    width: 727px;
    font-family: 'Courgette', cursive;
    margin-left: 166px;
    border: tomato 1px solid;
    padding-left: 10px;
    
}
.c25{
    height: 250px;
    width: 600px;
    
    margin-left: 707px;
    border: tomato 2px solid;

}



.row{
    height: 350px;
    width: 100%;
    border: chocolate 2px solid;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: chocolate;
   text-align: end;

}
.col{
    height: 250px;
    width: 250px;
    
    
    
}
.colu{
    height: 250px;
    width: 250px;
    border: white 2px solid;
    border-radius: 30px;
    
}

img{
    height: 250px;
    width: 100%;
}
.r2{
    height: 300px;
    width: 100%;
    border: chocolate 2px solid;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    color: white;
    background-image: url(./images/5-50776_background-for-coffee-shop-hd-wallpaper-backgrounds-its.jpg);
    background-size: cover;
    font-family: 'Pacifico', cursive;
   
}
strong{
    color: red;
}
.r3{
    height: 500px;
    width: 100%;
   
    margin-top: 40px;
    
    
}
.c8{
    height: 430px;
    width: 364px;
    border: black 2px solid;
    padding-left: 50px;
    margin-left: 500px;
    margin-top: 20px;
    color: white;
    background-image: url(./images/image21.jpg);
    background-size: cover;
}
.c81{
    margin-left: 50px;
}

button{
    height: 50px;
    width: 200px;
    border: black 3px solid;
    background-color: rgb(184, 134, 99);
    border-radius: 50px;
    margin-top: 10px;
    
}
.a30{
    height: 100px;
    width: 100%;
     
    background-color: rgb(77, 68, 68);
    color: white;
    margin-top: -73px;
}
.a31{
    height: 50px;
    width: 500px;
margin-top: 30px;
   margin-left: 400px;
    color: white;
    display: flex;
    
    justify-content: space-around;
    padding-left: 100px;
    
}
.a32{
    height: 50px;
    width: 50px;
    
}
.a34{
    height: 50px;
    width: 50px;
    
}
.a35{
    height: 50px;
    width: 50px;
}
